@use './variables';
@use './variablesMixin';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: variables.$font-family-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: variables.$font-size-base;
  line-height: variables.$line-height-base;
  color: variables.$color-text;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: variables.$spacing-md;
  margin-bottom: variables.$spacing-sm;
  line-height: variables.$line-height-base;
}

h1 {
  font-size: 1.5rem;

  @include variablesMixin.respond-to(tablet) {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 1rem;

  @include variablesMixin.respond-to(tablet) {
    font-size: 2rem;
  }
}