@use '@styles/_variablesMixin' as *;

.employee-page {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .employee-page--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include respond-to(tablet) {
      flex-direction: row;
    }
  }
}
