@use '@styles/_variables' as *;

.employees-table {
  td {
    &:not(:first-child) {
      border-left: 1px dashed $color-secondary;
    }
    &:not(:last-child) {
      border-right: 1px dashed $color-secondary;
    }
  }

  tr:first-child td {
    border-top: 1px dashed $color-secondary;
  }
  tr:last-child td {
    border-bottom: 1px dashed $color-secondary;
  }
}