@use './styles/variables' as *;
@use './styles/typography' as *;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $color-background;
  min-height: 100vh;
}